---
import Button from "../Button.astro";
---

<div class="pl-4 md:pl-8">
  <div class="relative my-12">
    <div class="absolute bg-primary w-0.5 left-2.25 h-full"></div>
    <div class="space-y-12"><slot /></div>
  </div>
  <div class="md:pl-9">
    <Button href="#/experience"> See 6 more experiences </Button>
  </div>
</div>
