---
import clsx from "clsx";

export interface ButtonProps {
  as?: string;
  size?: "lg" | "sm";
  href?: string;
  class?: string;
  variant?: "primary" | "secondary";
  [prop: string]: any;
}

const { class: className, size = "lg", href, variant = "primary", ...props } = Astro.props;

const classes = clsx(
  "inline-block rounded-lg",
  "font-bold",
  "shadow-bulge active:shadow-none mb-1 active:mt-1 active:mb-0 transition-all",
  {
    "bg-primary text-secondary shadow-primary-dark": variant === "primary",
    "bg-secondary text-primary shadow-primary-darker": variant === "secondary",
    "py-3 px-6 text-lg md:text-xl": size === "lg",
    "py-1 px-6 text-md md:text-lg": size === "sm",
  },
  className
);
---

<>
  {
    href ? (
      <a href={href} class={classes} {...props}>
        <slot />
      </a>
    ) : (
      <button class={classes} {...props}>
        <slot />
      </button>
    )
  }
</>
