---
import clsx from "clsx";

interface Props {
  class?: string;
  [prop: string]: any;
}

const { class: className, ...props } = Astro.props;
---

<div
  class={clsx(
    "rounded-lg bg-primary text-secondary shadow-bulge shadow-primary-dark p-6 border-2 border-primary-dark",
    className
  )}
  {...props}
>
  <slot />
</div>
